@media screen and (max-width: 6000px) and (min-width: 1000px) {
    /********************Основа********************/
    .dark-mode {
        background-color: #222;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 21px;
        background-color: #f4f4f4;
    }

    body.dark-mode div div {
        color: #aec6cc;
    }

    body.dark-mode div div h1 {
        color: #aec6cc;
    }

    body.dark-mode h1 {
        color: #aec6cc;
    }

    body.dark-mode .row .block p {
        color: #aec6cc;
    }

    /********************Заголовки********************/
    h1 {
        color: #333;
    }

    h1.to_do_list {
        color: #333;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        color: #555;
    }

    /********************Таблицы********************/
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table tr:nth-child(odd) {
        background-color: #f4f4f4;
    }

    table.dark tr:nth-child(even) {
        background-color: #aec6cc;
        color: #222222;
    }

    table.dark tr:nth-child(odd) {
        background-color: #8ba8af;
        color: #222222;
    }

    table.dark tr td a {
        color: #222222;
        border: 1px solid #222222;
    }

    /********************Ссылки********************/
    a {
        color: #3498db;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 12px;
        padding-left: 12%;
        padding-right: 12%;
        border-radius: 4px;
        border: 1px solid #3498db;
        text-align: center;
    }

    a.head, a.oper {
        color: #3498db;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 4px;
        padding-left: 6%;
        padding-right: 6%;
        border-radius: 4px;
        border: 1px solid #3498db;
        text-align: center;
    }

    a.darkhead, a.darkoper {
        color: #aec6cc;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 4px;
        padding-left: 6%;
        padding-right: 6%;
        border-radius: 4px;
        border: 1px solid #12496e;
        text-align: center;
    }

    a:hover {
        color: #1f618d;
        background-color: #ecf0f1;
    }

    a.darkhead:hover, a.darkoper:hover {
        color: #1f618d;
        background-color: #97b5bd;
    }

    /********************Формы********************/
    form {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 40px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form.dark {
        background-color: #6b8b93;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    input[type="button"] {
        background-color: #4caf50;
        color: white;
        padding: 20px 60px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    input[type="button"]:hover {
        background-color: #45a049;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    /********************Навигация********************/
    header {
        background-color: #3498db;
        margin-left: -21px;
        margin-right: -21px;
        margin-top: -21px;
        padding: 7px;
        text-align: center;
        color: #fff;
        white-space: nowrap;
    }

    header.darkhead {
        background-color: #1f618d;
        margin-left: -21px;
        margin-right: -21px;
        margin-top: -21px;
        padding: 7px;
        text-align: center;
        color: #aec6cc;
        white-space: nowrap;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        white-space: nowrap;
    }

    nav a.head {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    nav a.darkhead {
        color: #aec6cc;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    nav a:hover {
        background-color: #d6f5fc;
        color: #2d6675;
    }

    /********************Строки и столбцы********************/
    tr th {
        text-align: center;
    }

    tr th a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 3% 7%;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    tr th a:hover {
        background-color: #d6f5fc;
        color: #2d6675;
    }

    tr th a.dark {
        color: #aec6cc;
        text-decoration: none;
        text-align: center;
        padding: 3% 7%;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    tr th a.dark:hover {
        background-color: #2d6675;
        color: #8ba8af;
    }

    th {
        background-color: #3498db;
        color: #fff;
    }

    th.dark {
        background-color: #1f618d;
        border: 1px solid #01171c;
        color: #aec6cc;
    }

    /********************Классы********************/

    .adaptivepadding{

    }

    .adaptivelink{

    }
    .title-left {
        white-space: nowrap;
        flex-grow: 20;
        padding-left: 5%;
        text-align: center;
    }

    .title-right {
        white-space: nowrap;
        flex-grow: 1;
        color: #555;
        font-size: 20px;
    }

    .title-left-dark {
        white-space: nowrap;
        flex-grow: 20;
        padding-left: 5%;
        color: #aec6cc;
        text-align: center;
    }

    .title-right-dark {
        white-space: nowrap;
        flex-grow: 1;
        color: #aec6cc;
        font-size: 20px;
    }

    .action-buttons {
        display: flex;
    }

    .tdStat {
        width: 12%;
    }

    .tdStat2 {
        width: 14%;
    }

    .tdAdd {
        width: 13%;
    }

    .tdTit {
        width: 15%;
    }

    .tdDesc {
        width: 27%;
    }

    .tdDead {
        width: 13%;
    }

    .tdPrior {
        width: 9%;
    }

    .tdOper {
        width: 11%;
    }

    .tdOper2 {
        width: 24%;
    }
    .tdOper3 {
        width: 15%;
    }

    .tdName {
        width: 15%;
    }

    .tdStatus {
        width: 12%;
    }

    .tdRole {
        width: 12%;
    }

    .tdMail {
        width: 12%;
    }

    .button-container {
        text-align: center;
    }

    .addButton {
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 20px 60px;
        border-radius: 4px;
        border: 3px solid #146014;
        text-align: center;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        animation: fadeIn 0.5s ease-in-out;
    }

    .profile-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .profile-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .profile-button {
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    .profile-info {
        margin-top: 20px;
        text-align: left;
    }

    .info-item {
        margin-bottom: 10px;
    }

    .info-label {
        font-weight: bold;
    }

    .info-value {
        margin-left: 10px;
    }

    .edit-password {
        background-color: #4caf50;
    }

    .edit-email {
        background-color: #3498db;
    }

    .dark_mode {
        background-color: #342d1e;
    }

    .toggle-dark-mode {
        background-color: #2c3e50;
    }

    .profile-button:hover {
        background-color: #555;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin: 5%;
    }

    .block {
        width: 35%;
        text-align: center;
        padding: 10px;
        border: 2px solid #3498db;
        border-radius: 8px;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
    }

    .block:hover {
        transform: scale(1.05);
    }

    .block img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .block p {
        color: #333;
        font-size: 16px;
        line-height: 1.4;
        margin-top: 10px;
    }

    /********************Анимация********************/
    .ending-soon {
        color: white;
        background-color: orange;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
        animation: pulse2 10s infinite;
    }

    .ending-soon:hover {
        background-color: darkorange;
    }

    .overdue {
        color: white;
        background-color: red;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        animation: pulse 10s infinite;
    }

    @keyframes pulse2 {
        0% {
            background-color: rgba(255, 165, 0, 0.7);
        }
        50% {
            background-color: rgba(229, 151, 7, 0.5);
        }
        100% {
            background-color: rgba(255, 165, 0, 0.7);
        }
    }
    @keyframes pulse {
        0% {
            background-color: rgba(248, 42, 42, 0.7);
        }
        50% {
            background-color: rgba(147, 4, 4, 0.4);
        }
        100% {
            background-color: rgba(248, 42, 42, 0.7);
        }
    }
    .overdue:hover {
        background-color: darkred;
    }

    .ending-soon-subtask {
        color: #d9534f;
        text-decoration: none;
        animation: blinkBorder 3s infinite;
    }

    @keyframes blinkBorder {
        0%, 100% {
            border: 3px solid #d9534f;
        }
        50% {
            border: 1px solid #7e1916;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .completed-subtask {
        border: 2px solid #5cb85c;
        text-decoration: line-through;
        color: #5cb85c;
        animation: none;
    }

    .completed-task {
        border: 4px solid #368f36;
        font-weight: bold;
        text-decoration: underline;
        color: #368f36;
        animation: none;
    }
    .pk-only{
        display: block;
    }
    div.mobile-only{
        display: none;
    }
    a.mobile-only{
        padding: 0px;
        margin: 0px;
        display: none;
    }
    div.pk-only{
        text-align: center;
    }
    a.pk-only{
        padding: 0px;
        margin: 1px 3px;
        margin-bottom: 3px;
        display: block;
    }
    button.mobile-only{
        padding: 0px;
        margin: 0px;
        display: none;
    }
    td.adaptiveprior{
        font-size: 20pt;
    }
    .hide {
        display: none;
    }
    .pk-only.adbut img{
        width: 15px;
    }
    .adbut2 img{
        width: 15px;
    }
    .pk-only.adbut{
        background-color: inherit;
        border: 1px solid #3498db;
    }
    .adbut2{
        background-color: inherit;
        border: 1px solid #3498db;
    }
    div.pk-only{
        text-align: center;
    }
    .ad2{
        display: none;
    }
    .hide2{
        display: table-row;
    }
    .marginsubmit{
        margin-left: 40%;
    }
}


































@media screen and (max-width: 999px) and (min-width: 100px) {

    /********************Основа********************/
    .dark-mode {
        background-color: #222;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0px;
        background-color: #f4f4f4;
    }

    body.dark-mode div div {
        color: #aec6cc;
    }

    body.dark-mode div div h1 {
        color: #aec6cc;
    }

    body.dark-mode h1 {
        color: #aec6cc;
    }

    body.dark-mode .row .block p {
        color: #aec6cc;
    }

    /********************Заголовки********************/
    h1 {
        color: #333;
    }

    h1.to_do_list {
        width: 100%;
        max-width: 100%;
        color: #333;
        display: flex;
        justify-content: space-between;
    }

    h2 {
        color: #555;
    }

    /********************Таблицы********************/
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
    }

    table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    table tr:nth-child(odd) {
        background-color: #f4f4f4;
    }

    table.dark tr:nth-child(even) {
        background-color: #aec6cc;
        color: #222222;
    }

    table.dark tr:nth-child(odd) {
        background-color: #8ba8af;
        color: #222222;
    }

    table.dark tr td a {
        color: #222222;
        border: 1px solid #222222;
    }

    /********************Ссылки********************/
    a {
        color: #3498db;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 12px;
        padding-left: 12%;
        padding-right: 12%;
        border-radius: 4px;
        border: 1px solid #3498db;
        text-align: center;
    }

    a.head, a.oper {
        color: #3498db;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 4px;
        /*padding-left: 6%;
        padding-right: 6%;*/
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 4px;
        border: 1px solid #3498db;
        text-align: center;
    }

    a.darkhead, a.darkoper {
        color: #aec6cc;
        text-decoration: none;
        margin-right: 10px;
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        padding: 8px 4px;
        padding-left: 3%;
        padding-right: 3%;
        border-radius: 4px;
        border: 1px solid #12496e;
        text-align: center;
    }

    a:hover {
        color: #1f618d;
        background-color: #ecf0f1;
    }

    a.darkhead:hover, a.darkoper:hover {
        color: #1f618d;
        background-color: #97b5bd;
    }

    /********************Формы********************/
    form {
        margin: 0 1%;
        margin-top: 40px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    form.dark {
        background-color: #6b8b93;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="submit"] {
        background-color: #4caf50;
        color: white;
        padding: 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease-in-out;
    }

    input[type="submit"]:hover {
        background-color: #45a049;
    }

    input[type="button"] {
        background-color: #4caf50;
        color: white;
        padding: 20px 60px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

    input[type="button"]:hover {
        background-color: #45a049;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    /********************Навигация********************/
    header {
        max-width: 100%;
        background-color: #3498db;
        padding: 7px;
        text-align: center;
        color: #fff;
        white-space: nowrap;
    }

    header.darkhead {
        max-width: 100%;
        background-color: #1f618d;
        padding: 7px;
        text-align: center;
        color: #aec6cc;
        white-space: nowrap;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        white-space: nowrap;
    }

    nav a.head {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    nav a.darkhead {
        color: #aec6cc;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    nav a:hover {
        background-color: #d6f5fc;
        color: #2d6675;
    }

    /********************Строки и столбцы********************/
    tr th {
        text-align: center;
    }

    tr th a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 3% 1%;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    tr th a:hover {
        background-color: #d6f5fc;
        color: #2d6675;
    }

    tr th a.dark {
        color: #aec6cc;
        text-decoration: none;
        text-align: center;
        padding: 3% 1%;
        transition: color 0.3s ease-in-out;
        border: none;
        white-space: nowrap;
    }

    tr th a.dark:hover {
        background-color: #2d6675;
        color: #8ba8af;
    }

    th {
        background-color: #3498db;
        color: #fff;
    }

    th.dark {
        background-color: #1f618d;
        color: #aec6cc;
    }

    /********************Классы********************/
    .title-left {
        white-space: nowrap;
        flex-grow: 20;
        padding-left: 5%;
        text-align: center;
    }

    .title-right {
        white-space: nowrap;
        flex-grow: 2;
        color: #555;
        font-size: 10px;
    }

    .title-left-dark {
        white-space: nowrap;
        flex-grow: 20;
        padding-left: 5%;
        color: #aec6cc;
        text-align: center;
    }

    .title-right-dark {
        white-space: nowrap;
        flex-grow: 2;
        color: #aec6cc;
        font-size: 10px;
    }

    .action-buttons {
        display: flex;
    }

    .button-container {
        text-align: center;
    }

    .addButton {
        transition: color 0.3s ease-in-out;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        padding: 20px 60px;
        border-radius: 4px;
        border: 3px solid #146014;
        text-align: center;
    }

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
        animation: fadeIn 0.5s ease-in-out;
    }

    .profile-container {
        max-width: 600px;
        margin: 0 auto;
    }

    .profile-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }

    .profile-button {
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
    }

    .profile-info {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 14px;
        text-align: left;
    }

    .info-item {
        margin-bottom: 10px;
    }

    .info-label {
        font-weight: bold;
    }

    .info-value {
        margin-left: 10px;
    }

    .edit-password {
        background-color: #4caf50;
    }

    .edit-email {
        background-color: #3498db;
    }

    .dark_mode {
        background-color: #342d1e;
    }

    .toggle-dark-mode {
        background-color: #2c3e50;
    }

    .profile-button:hover {
        background-color: #555;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin: 2%;
    }

    .block {
        width: 100%;
        text-align: center;
        padding: 10px;
        border: 2px solid #3498db;
        border-radius: 8px;
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        margin-top: 15%;
    }

    .block:hover {
        transform: scale(1.05);
    }

    .block img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .block p {
        color: #333;
        font-size: 16px;
        line-height: 1.4;
        margin-top: 10px;
    }

    /********************Анимация********************/
    .ending-soon {
        color: white;
        background-color: orange;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(255, 165, 0, 0.5);
        animation: pulse2 10s infinite;
    }

    .ending-soon:hover {
        background-color: darkorange;
    }

    .overdue {
        color: white;
        background-color: red;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
        animation: pulse 10s infinite;
    }

    @keyframes pulse2 {
        0% {
            background-color: rgba(255, 165, 0, 0.7);
        }
        50% {
            background-color: rgba(229, 151, 7, 0.5);
        }
        100% {
            background-color: rgba(255, 165, 0, 0.7);
        }
    }
    @keyframes pulse {
        0% {
            background-color: rgba(248, 42, 42, 0.7);
        }
        50% {
            background-color: rgba(147, 4, 4, 0.4);
        }
        100% {
            background-color: rgba(248, 42, 42, 0.7);
        }
    }
    .overdue:hover {
        background-color: darkred;
    }

    .ending-soon-subtask {
        color: #d9534f;
        text-decoration: none;
        animation: blinkBorder 3s infinite;
    }

    @keyframes blinkBorder {
        0%, 100% {
            border: 3px solid #d9534f;
        }
        50% {
            border: 1px solid #7e1916;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .completed-subtask {
        border: 2px solid #5cb85c;
        text-decoration: line-through;
        color: #5cb85c;
        animation: none;
    }

    .completed-task {
        border: 4px solid #368f36;
        font-weight: bold;
        text-decoration: underline;
        color: #368f36;
        animation: none;
    }

    /********************Адаптация********************/

    .adaptivepadding{
        padding: 7px 1px;
        text-align: center;
        font-size: 8px;
    }
    .adaptivepadding a{
        margin-right: 0px;
        text-align: center;
        font-size: 8px;
    }

    a.adaptivelink{
        font-size: 9px;
        margin-right: 0px;
        color: black;
        padding-left: 3px;
        padding-right: 3px;
    }

    td.adaptivelink{
        font-size: 9px;
    }

    input.adaptivebutton{
        font-size: 14px;
        padding: 15px 25px;
    }
    .adaptiveh{
        font-size: 22px;
    }

    .adaptivetable{
        max-width: 100%;
    }
    td.adaptiveprior{
        font-size: 8pt;
        font-weight: bold;
    }
    div.pk-only{
        display: none;
    }
    a.pk-only{
        padding: 0px;
        margin: 0px;
        display: none;
    }
    button.pk-only{
        padding: 0px;
        margin: 0px;
        display: none;
    }
    a.mobile-only{
        padding: 0px;
        margin: 1px 3px;
        margin-bottom: 3px;
        display: block;
    }

    .tdStat {
        padding: 3px 0px;
        padding-left: 2px;
        width: 7%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdStat2 {
        padding: 3px 0px;
        padding-left: 2px;
        width: 17%;
        word-wrap: break-word;
        word-break: break-all;
    }
    td.tdStat2{
        text-align: center;
    }

    .tdAdd {
        padding: 3px 0px;
        padding-left: 2px;
        width: 7%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdTit {
        padding: 3px 0px;
        padding-left: 2px;
        width: 14%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdDesc {
        padding: 3px 0px;
        padding-left: 2px;
        width: 25%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdDead {
        padding: 3px 0px;
        padding-left: 2px;
        width: 18%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdPrior {
        padding: 3px 0px;
        padding-left: 2px;
        width: 11%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdOper {
        padding: 2px 0px;
        padding-left: 2px;
        width: 18%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdOper2 {
        padding: 3px 0px;
        padding-left: 2px;
        width: 24%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdOper3 {
        padding: 2px 0px;
        padding-left: 2px;
        width: 15%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdOper4 {
        padding: 2px 0px;
        padding-left: 2px;
        width: 30%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdName {
        padding: 3px 0px;
        padding-left: 2px;
        width: 18%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdStatus {
        padding: 3px 0px;
        padding-left: 2px;
        width: 13%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdRole {
        padding: 3px 0px;
        padding-left: 2px;
        width: 13%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdMail {
        padding: 3px 0px;
        padding-left: 2px;
        width: 26%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdDeadPrior{
        padding: 3px 0px;
        padding-left: 2px;
        width: 29%;
        word-wrap: break-word;
        word-break: break-all;
    }

    .tdStatAdd{
        padding: 3px 0px;
        padding-left: 2px;
        width: 14%;
        word-wrap: break-word;
        word-break: break-all;
    }
    header nav a.adaptiveheader{
        margin-right: 0px;
    }
    .hideblock {
        display: none;
    }
    .mobile-only.adbut img{
        width: 8px;
    }
    .adbut2 img{
        width: 8px;
    }
    .mobile-only.adbut{
        background-color: inherit;
        border: 1px solid #3498db;
    }
    .adbut2{
        margin-bottom: 1%;
        background-color: inherit;
        border: 1px solid #3498db;
    }
    .adbut2 p{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    div.mobile-only{
        text-align: center;
    }
    .adapth{
        font-size: 26px;
    }
    .adaptform{
        margin-top: 25%;
    }
    .adaptform2{
        margin-top: 32%;
    }
    .ad2{
        display: none;
    }
    .hide2{
        display: table-row;
        animation: fadeInOut2 1s ease infinite;
    }
    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        75% {
            opacity: 0.75;
        }
        100% {
            opacity: 1;
        }
    }
    .hide {
        display: none;
    }

    body.dark-mode h1 span.title-right{
        color: #aec6cc;
    }
    body.dark-mode button.adbut{
        border: 1px solid black;
    }
    body.dark-mode button.adbut2{
        color: #aec6cc;
        border: 1px solid black;
    }
    body.dark-mode tr.overdue{
        color: #fff;
    }

    body.dark-mode tr.overdue a.oper{
        color: #fff;
        border: 1px solid #fff;
    }

    body.dark-mode tr.overdue button.adbut{
        border: 1px solid #fff;
    }
    body.dark-mode tr.overdue button.adbut2{
        border: 1px solid #fff;
    }
    .marginsubmit{
        margin-left: 30%;
    }
}