<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас..</title>
    <link rel="stylesheet" type="text/css" href="/css/basic_style.css">
</head>
<header th:class="${darkDesign} ? 'darkhead' : 'head'">
    <nav th:class="${darkDesign} ? 'darkhead' : 'head'">
        <a href="/task-tracker/" th:class="${darkDesign} ? 'darkhead adaptiveheader' : 'head adaptiveheader'">Главная</a>
        <a href="/profile" th:class="${darkDesign} ? 'darkhead adaptiveheader' : 'head adaptiveheader'">Профиль</a>
        <a href="/about" th:class="${darkDesign} ? 'darkhead adaptiveheader' : 'head adaptiveheader'">О сайте</a>
        <a href="/task-tracker/logout" th:class="${darkDesign} ? 'darkhead adaptiveheader' : 'head adaptiveheader'">Выйти</a>
    </nav>
</header>
<body th:class="${darkDesign} ? 'dark-mode' : ''">
<h1 style="text-align: center">О сайте</h1>
<div class="row">
    <div class="block">
        <img src="/images/tasktracker-logo-hor-green.png" alt="Image-logo">
        <p>Приветствую тех, кто посетил мой сайт. Мой сайт является проектом в области разработки приложений на Spring Framework.</p>
        <hr><p>Проект можно рассматривать не только как компонент резюме. Если Вам понравился функционал сайта, то вы вполне можете использовать его для личных или рабочих целей. Я буду очень этому рад.</p>
        <hr><p>Вы также можете отправлять обратную связь о сайте на адрес nikitaets2016@gmail.com. Буду рад вашим сообщениям!</p>
    </div>
    <div class="hideblock">
    </div>
</div>
<div class="row">
    <div class="hideblock">
    </div>
    <div class="block">
        <img src="/images/nikita.jpg" alt="Nikita">
        <p>Создатель данного таск-трэкера любит программировать и занимается этим с 14 лет. Начал я с олимпиадного программирования.</p>
        <hr><p>К данному моменту у меня есть много достижений в этой области: ежегодно я участвую в 10-15 олимпиадах различных этапов.</p>
        <hr><p>Я занимал призовое место на полуфинале чемпионата Северной Евразии NERC ICPC, а также был участником полуфинала мира ICPC</p>
        <hr><p>Сейчас меня интересует Enterprise-разработка на JAVA, поэтому я решил сделать демонстрационный проект для своего будущего резюме</p>
        <hr><p>Все мои проекты вы можете найти по адресу https://github.com/HiKvern</p>
    </div>
</div>
</body>
</html>