<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена почты</title>
    <link rel="stylesheet" type="text/css" href="/css/basic_style.css">
</head>
<header th:class="${darkDesign} ? 'darkhead' : 'head'">
    <nav th:class="${darkDesign} ? 'darkhead' : 'head'">
        <a href="/task-tracker/" th:class="${darkDesign} ? 'darkhead' : 'head'">Главная</a>
        <a href="/profile" th:class="${darkDesign} ? 'darkhead' : 'head'">Профиль</a>
        <a href="/about" th:class="${darkDesign} ? 'darkhead' : 'head'">О сайте</a>
        <a href="/task-tracker/logout" th:class="${darkDesign} ? 'darkhead' : 'head'">Выйти</a>
    </nav>
</header>
<body th:class="${darkDesign} ? 'dark-mode' : ''">
<form action="/checkEmail" method="post" th:object="${curUser}" th:class="${darkDesign} ? 'dark adaptform2' : 'adaptform2'">
    <b>ПАРОЛЬ</b><br> <input type="text" th:field="*{password}"/><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span><br><br>
    <b>НОВАЯ ПОЧТА</b><br> <input type="text" id="newEmail" name="newEmail"><br><br>
    <span th:if="${errorEmail}" class="error-message">Ошибка: неправильный пароль или неправильно введена новая почта</span><br>
    <input type="submit" value="СОХРАНИТЬ" class="marginsubmit"/>
</form>
</body>
</html>
