<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка</title>
    <style>
         body {
             font-family: Arial, sans-serif;
             background-color: #f4f4f4;
             color: #333;
             text-align: center;
             margin: 100px;
         }
    </style>
</head>
<body>
<h1 style="color: #d9534f">Oops! An Error Occurred</h1>
<p style="color: #777">Код ошибки: <span th:text = "${status}"></span></p>
<p th:text = "${errorMessage}" style="color: #777"><strong>Error Message:</strong></p>
</body>
</html>