<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/menu_style.css">
    <title>Забыл пароль</title>
</head>
<body>
<div class="container">
    <h2>Забыли пароль?</h2>
    <div class="philosophy">
        <p>"В мире, полном забот и суеты, пароль - всего лишь временное забытие. Вернитесь к спокойствию."</p>
    </div>
    <div class="comfort" style="margin-top: 20px">
        <p>Мы все забываем время от времени. Введите свою почту ниже и нажмите кнопку, что восстановить ваши данные...</p>
    </div>
    <form action="/sendEmail" method="post" th:class="${darkDesign} ? 'dark' : ''">
        <span style="font-size: 22px">ПОЧТА</span> <input class="form-input" type="text" id="email" name="email"><br><br>
        <input type="submit" value="Отправить письмо"/><br><br>
    </form>
</div>
</body>
</html>