<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/menu_style.css">
    <title>Авторизация</title>
</head>
<body>
<div class="container">
    <h2>Вход/Создание аккаунта</h2>
    <a href="/registry" class="button button-primary">Зарегистрироваться</a>
    <a href="/signIN" class="button button-secondary">Войти</a>
    <a href="/forgotPassword" class="button button-forgot">Забыл пароль?</a>
</div>
</body>
</html>
