<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Профиль</title>
    <link rel="stylesheet" type="text/css" href="/css/basic_style.css">
</head>
<header th:class="${darkDesign} ? 'darkhead' : 'head'">
    <nav th:class="${darkDesign} ? 'darkhead' : 'head'">
        <a href="/task-tracker/" th:class="${darkDesign} ? 'darkhead' : 'head'">На главную</a>
        <a href="/profile" th:class="${darkDesign} ? 'darkhead' : 'head'">Профиль</a>
        <a href="/about" th:class="${darkDesign} ? 'darkhead' : 'head'">О сайте</a>
        <a href="/task-tracker/logout" th:class="${darkDesign} ? 'darkhead' : 'head'">Выйти</a>
    </nav>
</header>
<body th:class="${darkDesign} ? 'dark-mode' : ''">
<div class="profile-container">
    <div class="profile-container">
        <h1 style="text-align: center">Профиль</h1>
        <div class="profile-info">
            <div class="info-item">
                <span class="info-label">Имя пользователя: </span>
                <span class="info-value" th:text=" ${user.username}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Роль: </span>
                <span class="info-value" th:text=" ${user.role}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Электронная почта: </span>
                <span class="info-value" th:text=" ${user.email}"></span>
            </div><hr>
            <div class="info-item">
                <span class="info-label">Количество заданий:</span>
                <span class="info-value" th:text="${numTask}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Выполненных заданий:</span>
                <span class="info-value" th:text="${numDoneTask}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Количество подзадач:</span>
                <span class="info-value" th:text="${numSubTask}"></span>
            </div>
            <div class="info-item">
                <span class="info-label">Выполненных подзадач:</span>
                <span class="info-value" th:text="${numDoneSubTask}"></span>
            </div>
        </div><hr>
        <div class="profile-buttons"><a href="/editPassword" class="profile-button edit-password">Изменить пароль</a></div>
        <div class="profile-buttons"><a href="/editEmail" class="profile-button edit-email">Изменить почту</a></div>
        <div class="profile-buttons"><a href="/darkMode" class="profile-button toggle-dark-mode">Переключиться на темную тему</a></div>
        <div th:if ="${user.getRole()=='admin' ||user.getRole()=='subAdmin'}" class="profile-buttons"><a href="/adminPage" class="profile-button dark_mode">Данные администратора</a></div>
    </div>
</div>

</body>
</html>
