<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/menu_style.css">
    <title>Регистрация</title>
</head>
<body>
<div class="container">
    <h2>РЕГИСТРАЦИЯ</h2>
    <form action="/saveUser" method="post" style="padding: 20px" th:object="${user}">
        Логин: <input class="form-input" type="text" th:field="*{username}" /><br>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span><br>
        Пароль: <input class="form-input" type="password" th:field="*{password}" /><br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span>
        <br>
        Почта: <input class="form-input" type="email" th:field="*{email}" /><br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></span>
        <br>
        <input type="submit" class="button2" value="Зарегистрироваться" />
    </form>
</div>
</body>
</html>
