<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/menu_style.css">
    <title>Вход</title>
</head>
<body>
<div class="container">
    <h2>ВХОД</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label class="form-label" for="username">Имя пользователя:</label>
            <input class="form-input" type="text" id="username" name="username" required/>
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Пароль:</label>
            <input class="form-input" type="password" id="password" name="password" required/>
        </div>
        <div style="text-align: center; margin-bottom: 2%;"><span th:if="${errorUser}" class="error-message">Неправильный логин или пароль</span></div><br><br>
        <input type="submit" class="button2 adaptive" value="Войти"/>
    </form>
</div>
</body>
</html>
