<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Трэкер</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/basic_style.css">
</head>
<header th:class="${darkDesign} ? 'darkhead' : 'head'">
    <nav th:class="${darkDesign} ? 'darkhead' : 'head'">
        <a href="/task-tracker/" th:class="${darkDesign} ? 'darkhead' : 'head'">На главную</a>
        <a href="/profile" th:class="${darkDesign} ? 'darkhead' : 'head'">Профиль</a>
        <a href="/about" th:class="${darkDesign} ? 'darkhead' : 'head'">О сайте</a>
        <a href="/task-tracker/logout" th:class="${darkDesign} ? 'darkhead' : 'head'">Выйти</a>
    </nav>
</header>
<body th:class="${darkDesign} ? 'dark-mode' : ''">
<h1 class="to_do_list">
    <span th:class="${darkDesign} ? 'title-left-dark' : 'title-left'">Список дел</span>
    <span th:class="${darkDesign} ? 'title-right-dark' : 'title-right'">Пользователь: <span th:class="${darkDesign} ? 'title-right-dark' : 'title-right'" th:text=" ${username}"></span></span>
</h1>
<table>
    <thead>
    <tr th:class="${darkDesign} ? 'dark' : ''">
        <th th:class="${darkDesign} ? 'tdStat dark' : 'tdStat'"><h2></h2></th>
        <th th:class="${darkDesign} ? 'tdAdd dark' : 'tdAdd'"><h2></h2></th>
        <th th:class="${darkDesign} ? 'tdTit dark' : 'tdTit'"><a href="/sorting/sortTasks/title" th:class="${darkDesign} ? 'dark' : ''">НАЗВАНИЕ</a></th>
        <th th:class="${darkDesign} ? 'tdDesc dark' : 'tdDesc'"><a href="/sorting/sortTasks/description" th:class="${darkDesign} ? 'dark' : ''">ОПИСАНИЕ</a></th>
        <th th:class="${darkDesign} ? 'tdDead dark' : 'tdDead'"><a href="/sorting/sortTasks/deadline" th:class="${darkDesign} ? 'dark' : ''">ДЭДЛАЙН</a></th>
        <th th:class="${darkDesign} ? 'tdPrior dark' : 'tdPrior'"><a href="/sorting/sortTasks/priority" th:class="${darkDesign} ? 'dark' : ''">ПРИОРИТЕТ</a></th>
        <th th:class="${darkDesign} ? 'tdOper dark' : 'tdOper'">ОПЕРАЦИИ</th>
    </tr>
    </thead>
    <script>
        function confirmDelete(taskId) {
            var result = window.confirm("Вы уверены, что хотите удалить задачу?");

            if (result) {
                window.location.href = '/task-tracker/deleteTask/' + taskId;
            }
        }
    </script>
    <tbody>
    <table th:each="task : ${tasks}" th:if="${not task.is_done}" th:class="${darkDesign} ? 'dark' : ''">
    <tr
        th:class="${#temporals.format(task.deadline, 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')} ? 'overdue': ''"
        th:classappend="${#temporals.format(task.deadline.minusDays(2), 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')} ? 'ending-soon': ''">
        <td class="tdStat"><a class="oper" th:href="@{markTask/{id}(id=${task.id})}" >Выполнено</a></td>
        <td class="tdAdd"><a class="oper" th:href="@{addRefTask/{id}(id=${task.id})}" >Подзадание</a></td>
        <td th:text="${task.title}" class="tdTit"></td>
        <td th:text="${task.description}" class="tdDesc"></td>
        <td th:text="${task.deadline}" class="tdDead" style="text-align: center"></td>
        <td th:text="${task.priority}" class="tdPrior" style="text-align: center; font-size: 20pt;"></td>
        <td class="tdOper">
            <a th:href="@{updateTask/{id}(id=${task.id})}" class = "oper">Изменить</a>
            <a href="#" class="oper" th:onclick="'confirmDelete(' + ${task.id} + ')'" >Удалить</a>
        </td>
</tr>
        <tr th:each="subTask : ${subTasks}" th:if="${subTask.ref_task == task.id}"
            th:class="${#temporals.format(subTask.deadline.minusDays(2), 'yyyy-MM-dd') lt #temporals.format(#temporals.createNow(), 'yyyy-MM-dd')} ? 'ending-soon-subtask': ''"
            th:classappend="${subTask.is_done} ? 'completed-subtask': ''">
            <td></td>
                <td style="text-align: right"><a class="oper" th:href="@{markTask/{id}(id=${subTask.id})}" >OK</a></td>
                <td th:text="${subTask.title}"></td>
                <td th:text="${subTask.description}"></td>
                <td colspan="2" th:text="${subTask.deadline}" style="text-align: center"></td>
                <td>
                    <a th:href="@{updateTask/{id}(id=${subTask.id})}" class = "oper" >Изменить</a>
                    <a href="#" class="oper" th:onclick="'confirmDelete(' + ${subTask.id} + ')'">Удалить</a>
                </td>
            </tr>
        </table>
    </tbody>
</table>
<br><div class="button-container"><input type="button" class = "addButton" value="Добавить задание" onclick="window.location.href = 'addNewTask'"/></div>
<h1 class="to_do_list">
    <span th:class="${darkDesign} ? 'title-left-dark' : 'title-left'">Выполненные задачи:</span>
</h1>
<table>
    <thead>
    <tr th:class="${darkDesign} ? 'dark' : ''">
        <th th:class="${darkDesign} ? 'tdPrior dark' : 'tdStat'"><h2></h2></th>
        <th th:class="${darkDesign} ? 'tdTit dark' : 'tdTit'"><a th:class="${darkDesign} ? 'dark' : ''" href="/sorting/sortTasks/title">НАЗВАНИЕ</a></th>
        <th th:class="${darkDesign} ? 'tdDesc dark' : 'tdDesc'"><a th:class="${darkDesign} ? 'dark' : ''" href="/sorting/sortTasks/description">ОПИСАНИЕ</a></th>
        <th th:class="${darkDesign} ? 'tdDead dark' : 'tdDead'"><a th:class="${darkDesign} ? 'dark' : ''" href="/sorting/sortTasks/deadline">ДЭДЛАЙН</a></th>
        <th th:class="${darkDesign} ? 'tdPrior dark' : 'tdPrior'"><a th:class="${darkDesign} ? 'dark' : ''" href="/sorting/sortTasks/priority">ПРИОРИТЕТ</a></th>
        <th th:class="${darkDesign} ? 'tdOper dark' : 'tdOper'">Операции</th>
    </tr>
    </thead>
    <tbody>
    <table th:each="task : ${tasks}" th:if="${task.is_done}" th:class="${darkDesign} ? 'dark' : ''">
    <tr th:class="${darkDesign} ? 'completed-task dark' : 'completed-task'">
        <td class="tdStat"><a class="oper" th:href="@{markTask/{id}(id=${task.id})}" >Вернуть</a></td>
        <td th:text="${task.title}" class="tdTit"></td>
        <td th:text="${task.description}" class="tdDesc"></td>
        <td th:text="${task.deadline}" class="tdDead" style="text-align: center"></td>
        <td th:text="${task.priority}" class="tdPrior" style="text-align: center; font-size: 20pt;"></td>
        <td class = "tdOper">
            <a href="#" class="oper" th:onclick="'confirmDelete(' + ${task.id} + ')'" >Удалить</a>
        </td>
    </tr>
        <tr th:each="subTask : ${subTasks}" th:if="${subTask.ref_task == task.id}" class="completed-subtask">
            <td></td>
            <td th:text="${subTask.title}"></td>
            <td th:text="${subTask.description}"></td>
            <td th:text="${subTask.deadline}" colspan="2" style="text-align: center"></td>
            <td>
                <a href="#" class="oper" th:onclick="'confirmDelete(' + ${subTask.id} + ')'" >Удалить</a>
            </td>
        </tr>
    </table>
    </tbody>
</table>
</body>
</html>